<!DOCTYPE html>
<html>
  <head>
    <title>HnrTech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<img src="https://cdn2.iconfinder.com/data/icons/scrum-project-blue/100/User_Testing-512.png"  alt="Subscription"  class="main-image">
<h2 class="center">Welcome To Ruby Subscription</h2>
    <%= yield %>
  </body>
</html>
